

<% if te_logged_in? && @trainee == current_trainee %>
  <% if current_trainee.first?(checklist) %>
    <% if current_trainee.second?(checklist) %>
      <button class="btn btn-success btn-xs" disabled="disabled"><span class="glyphicon glyphicon-check" aria-hidden="true"></span> <%= checklist.te_checks.first.updated_at.in_time_zone('Tokyo').strftime('%m/%d') %></button>
    <% else %>
      <%= form_tag(te_check_path(checklist.id), method: :delete, data: { confirm: 'この項目のセルフチェックが解除されます。本当に解除してよろしいですか？' }) do %>
        <%= hidden_field_tag :checklist_id, checklist.id %>
        <%= hidden_field_tag :type, 'First' %>
        <%= button_tag( class: "btn btn-success btn-xs") do %>
          <%= content_tag :span, checklist.te_checks.first.updated_at.in_time_zone('Tokyo').strftime('%m/%d'), class: "glyphicon glyphicon-check" %>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <%= form_tag(te_checks_path, remote: true) do %>
      <%= hidden_field_tag :ajax_handler, 'handle_self' %>
      <%= hidden_field_tag :checklist_id, checklist.id %>
      <%= hidden_field_tag :type, 'First' %>
      <%= button_tag( class: "btn btn-default btn-xs") do %>
        <%= content_tag :span, "チェック", href: "javascript:void(0)" %>

      <% end %>
    <% end %>
  <% end %>
<% elsif tr_logged_in? %>
  <% if checklist.te_checks.find_by(type: First, trainee_id: @trainee.id) %>
    <button class="btn btn-success btn-xs" disabled="disabled"><span class="glyphicon glyphicon-check" aria-hidden="true"></span> <%= checklist.te_checks.first.updated_at.in_time_zone('Tokyo').strftime('%m/%d')  if checklist.te_checks.first%></button>
  <% end %>
<% end %>
