<div class="user-profile">
  <div class="icon text-center">
    <img src="/images/admin_logo.png" width="120" height="120" alt="" class="img-circle">
  </div>
  <div class="name text-center">
    <h1><%= @admin.name %></h1>
        <h5>[管理者]</h5>

  </div>
  <div class="status text-center">

    <ul>
      <li><div class="status-label"><%= @admin.email %></div></li>

    </ul>
    <ul>
      <li>
        <div class="status-label"><%= link_to '編集', edit_admin_path(@admin) %></div>

      </li>
      <li>
        <div class="status-label"><%= link_to '削除', @admin, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %></div>

      </li>
    </ul>

    <hr class="line" />

    <ul>
      <li><div class="status-label">ユーザの新規作成</div></li>

    </ul>
    
    <ul>
      <li><div class="status-label"><%= link_to 'トレーニー', new_trainee_path, class: 'btn btn-success btn-xs' %></div></li>
      <li><div class="status-label"><%= link_to 'トレーナー', new_trainer_path, class: 'btn btn-warning btn-xs' %></div></li>
      <li><div class="status-label"><%= link_to '管理者', new_admin_path, class: 'btn btn-danger btn-xs' %></div></li>

    </ul>
    
        <hr class="line" />
    
    <% unless !te_logged_in? && !tr_logged_in? && !admin_logged_in? %>
      <%= render 'checklists/checklists', checklists: @checklists %>
    <% end %>
    
  </div>
</div>

