<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>CRISP TRAINING SYSTEM</h1>

        <% if te_logged_in? %>
          <h1><%= current_trainee.name %>さん、今日も頑張りましょう！</h1>

        <% elsif tr_logged_in? %>
          <h1><%= current_trainer.name %>さん、ようこそ！</h1>
          <h4>[ 現在トレーナーとしてログインしています]</h4>

        <% elsif admin_logged_in? %>
          <h1><%= current_admin.name %>さん、ようこそ！</h1>
          <h4>[ 現在管理者としてログインしています]</h4>
        
        <% else %>
          <%= link_to 'トレーニングを始める', te_login_path, class: 'btn btn-success btn-lg' %>
          
          <hr class="line" />
          
          <p><h5>[テストログイン用ID]</h5></p>
          <p><h5>トレーニー1: te@te.com / te　　・
          トレーナー1: tr@tr.com / tr　　・
          管理者1: admin@admin.com / admin</h5></p>
          <p><h5>トレーニー2: te2@te.com / te　　・
          トレーナー2: tr2@tr.com / tr　　・
          管理者2: admin2@admin.com / admin</h5></p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="user-profile">
    <div class="status text-center">
      <p>ユーザーごとの権限・アクセス設定などはまだ実装していません</p>
      <ul>
        <li><div class="status-label"><%= link_to 'トレーニー一覧', trainees_path %></div></li>
        <li><div class="status-label"><%= link_to 'トレーナー一覧', trainers_path %></div></li>
        <li><div class="status-label"><%= link_to '管理者一覧', admins_path %></div></li>
      </ul>
    </div>
  </div>
  
  <%= render 'trainees/trainees', trainees: @trainees %>
  
<% end %>

