<!--カバー部分出しわけ-->
<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>crisp training system</h1>


        <% if te_logged_in? %>
          <h1><%= current_trainee.nickname %>さん、今日も頑張りましょう！</h1>
          <%= link_to 'トレーニングシートをチェックする', trainee_path(current_trainee) , class: 'btn btn-info btn-lg' %>

        <% elsif tr_logged_in? %>
          <h1><%= current_trainer.nickname %>さん、ようこそ！</h1>
          <h4>[ 現在トレーナーとしてログインしています ]</h4>

        <% elsif admin_logged_in? %>
          <h1><%= current_admin.name %>さん、ようこそ！</h1>
          <h4>[ 現在管理者としてログインしています]</h4>

        <!--ログインしていない状態-->
        <% else %>
          <%= link_to 'トレーニングを始める', te_login_path, class: 'btn btn-success btn-lg' %>
          <hr class="line" />
          <p><h5>[テストログイン用ID]</h5></p>
          <p><h5>トレーニー1: te@te.com / te　　・
          トレーナー1: tr@tr.com / tr　　・
          管理者1: admin@admin.com / admin</h5></p>
          <p><h5>トレーニー2: te2@te.com / te　　・
          トレーナー2: tr2@tr.com / tr　　・
          管理者2: admin2@admin.com / admin</h5></p>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

        <% if te_logged_in? %>

        <% elsif tr_logged_in? %>
        

        <% elsif admin_logged_in? %>

        <!--ログインしていない状態-->
        <% else %>
        
        <% end %>