<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>CRISP TRAINING SYSTEM</h1>

        <% if te_logged_in? %>
          <h1><%= current_trainee.name %>さん、今日も頑張りましょう！</h1>

        <% elsif tr_logged_in? %>
          <h1><%= current_trainer.name %>さん、ようこそ！</h1>
          <h4>[ 現在トレーナーとしてログインしています]</h4>

        <% elsif admin_logged_in? %>
          <h1><%= current_admin.name %>さん、ようこそ！</h1>
          <h4>[ 現在管理者としてログインしています]</h4>
        
        <% else %>
          <%= link_to 'トレーニングを始める', te_login_path, class: 'btn btn-success btn-lg' %>
          
          <hr class="line" />
          
          <p><h5>[テストログイン用ID]</h5></p>
          <p><h5>トレーニー: te@te.com / te　　・
          トレーナー: tr@tr.com / tr　　・
          管理者: admin@admin.com / admin</h5></p>
          
        <% end %>
      </div>
    </div>
  </div>
  
      <ul>
      <li><div class="status-label"><%= link_to 'トレーニー一覧', trainees_path %></div></li>

    </ul>
<% end %>

