<% breadcrumb :trainee, @trainee %>
<div class="user-profile" align="center">



  <% if te_logged_in? %>  
    <table class="table">
      <tr>
        <th colspan="3" class="teheader">【トレーナーに聞いてみよう！】<%= @trainee.nickname %>さんの交換日記</th>
      </tr>

      <tr>
        <td class="tetop">ひとことコメント</td>
        <td class="tetop"></td>
        <td class="tetop">■返信もらえるかな？■</td>
      </tr>
      <tr>
        <td height="200" width="200"><br>
          <%= form_for(@comment) do |f| %>
            <div class="form-group">
              <%= f.text_area :content, class: 'form-control', rows: 5 %>
            </div>
            <%= f.submit 'Post', class: 'media-post btn' %>
          <% end %>
        </td>
          
        <td rowspan="2" width="20" class="temid"></td>

        <td rowspan="2">
          <div>
            <%= render 'comments/comments', comments: @comments %>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="name text-center">
            
          <div class="status text-center">
            <ul>
              <li><%= @trainee.name %> <br>[ <%= @trainee.branch %> ]</li>
            </ul>
            <ul>
              <li><div class="status-label"><%= link_to 'プロフィール編集', edit_trainee_path(@trainee) %></div></li>
            </ul>
            <% exctr = Trainer.find(@trainee.trainer_id).nickname unless @trainee.trainer_id.nil? %>
            <% exctr = "未設定" if exctr.nil? %>
            <button class="btn btn-primary btn-xs" disabled="disabled">専任トレーナー： <%= exctr %></button>
          </div>
        </td>
      </tr>
    </table>
    
    <%= render 'progress', checklists: @checklists, trainee: @trainee %>


  <% elsif tr_logged_in? %>

    <table class="table">
      <tr>
        <th colspan="3" class="teheader">【コミュニケーション】<%= @trainee.nickname %>さんとの交換日記</th>
      </tr>

      <tr>
        <td class="tetop">パートナー情報</td>
        <td class="tetop">
        </td>
        <td class="tetop">■パートナー・コミュニケーション■</td>
      </tr>

      <tr>
        <td align="center" valign="middle"><br>
          <img src="/images/te_logo.png" width="100" height="100" alt="" class="img-circle">
        </td>
        <td rowspan="2" width="20" class="temid">
        </td>
        <td rowspan="2">
          <div>
            <%= render 'comments/comments', comments: @comments %>
          </div>
        </td>
      </tr>

      <tr>
        <td height="200">
          <div class="status text-center">
            <ul>
              <li><%= @trainee.name %> <br>[ <%= @trainee.branch %> ]</li>
            </ul>
            <ul>
              <li><div class="status-label"><%= link_to 'プロフィール編集', edit_trainee_path(@trainee) %></div></li>
            </ul>
            <%= form_for(@trainee) do |f| %>
              <div class="form-group">
                <%= f.hidden_field :trainer_id, value: current_trainer.id, class: 'form-control' %>
              </div>
          
              <% exctr = Trainer.find(@trainee.trainer_id).nickname unless @trainee.trainer_id.nil? %>
              <% exctr = "未設定" if exctr.nil? %>
              <%= f.submit '専任トレーナー: ' + exctr , data: { confirm: "専任トレーナーを変更します。本当に専任トレーナーを変更しても良いですか？"}, class: 'btn btn-primary btn-xs' %>
            <% end %>
          </div>
        </td>
      </tr>
    </table>
    
    <%= render 'progress', checklists: @checklists, trainee: @trainee %>
    
  <% elsif admin_logged_in? %>

   <table class="table">
      <tr>
        <th colspan="3" class="teheader">【コミュニケーション】<%= @trainee.nickname %>さんとの交換日記</th>
      </tr>

      <tr>
        <td class="tetop">パートナー情報</td>
        <td class="tetop">
        </td>
        <td class="tetop">■日記■</td>
      </tr>

      <tr>
        <td align="center" valign="middle"><br>
          <img src="/images/te_logo.png" width="100" height="100" alt="" class="img-circle">
        </td>
        <td rowspan="2" width="20" class="temid">
        </td>
        <td rowspan="2">
          <div>
            <%= render 'comments/comments', comments: @comments %>
          </div>
        </td>
      </tr>

      <tr>
        <td height="200">
          <div class="status text-center">
            <ul>
              <li><%= @trainee.name %> <br>[ <%= @trainee.branch %> ]</li>
            </ul>
            <ul>
              <li><div class="status-label"><%= link_to 'プロフィール編集', edit_trainee_path(@trainee) %></div></li>
            </ul>
            <% exctr = Trainer.find(@trainee.trainer_id).nickname unless @trainee.trainer_id.nil? %>
            <% exctr = "未設定" if exctr.nil? %>
            <button class="btn btn-primary btn-xs" disabled="disabled">専任トレーナー： <%= exctr %></button>

          </div>
        </td>
      </tr>
    </table>

    <% end %>
</div>

