
<% if admin_logged_in? %>

<p>
  <%= link_to '新規トレーニング項目の作成', new_checklist_path, class: 'btn btn-danger' %>
</p>

  <div class="panel panel-default">
    <div class="panel-heading">チャプター検索</div>
      <div class="panel-body">
        <%= form_tag(admin_path, method: :get, class: 'form-inline') do %>
          <div class="form-group">
            <%= select_tag :chapname, options_for_select(["ALL", $chap1, $chap2, $chap3, $chap4, $chap5, $chap6, $chap7, $chap8, $chap9]), class: 'form-control' %>   
          </div>  
          <%= button_tag( class: "btn btn-default") do %>
            <%= content_tag :span, "", class: "glyphicon glyphicon-search" %>
          <% end %>
        <% end %> 
      </div>
    </div>
  </div>

  <div class="admin">
    <table class="table table-bordered">
      <tr>
        <th class="id">ID</th>
        <th class="chap">チャプター</th>
        <th class="sec">セクション</th>
        <th class="content">トレーニング項目</th>
        <th class="op">編集</th>
        <th class="op">削除</th>
      </tr>
      <% checklists.each do |checklist| %>
        <tr>
          <td><%= checklist.id %></td>
          <td><%= checklist.chapter %></td>
          <td><%= checklist.section %></td>
          <td><%= checklist.content %></td>
          
          <td class="op"><%= link_to edit_checklist_path(checklist), class: "btn btn-default" do %>
                <i class="glyphicon glyphicon-edit"></i><% end %></td>
          <td class="op"><%= link_to checklist, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: "btn btn-danger" do %>
                <i class="glyphicon glyphicon-trash"></i><% end %></td>
        </tr>
      <% end %>
    </table>
  <%= paginate checklists %>
    </div>
  </div>

<% else %>

  <div class="panel panel-default">
    <div class="panel-heading">検索</div>
      <div class="panel-body">

        <table>
          <tr><td width="200"><%= form_tag(trainee_path, method: :get, class: 'form-inline') do %>
          <div class="form-group">
            <%= select_tag :chapname, options_for_select(["ALL", $chap1, $chap2, $chap3, $chap4, $chap5, $chap6, $chap7, $chap8, $chap9]), :prompt => "チャプターで探す", class: 'form-control' %>   
          </div>  
          <%= button_tag( class: "btn btn-default") do %>
            <%= content_tag :span, "", class: "glyphicon glyphicon-search" %>
          <% end %>
        <% end %></td>
          <td width="210"><%= form_tag(trainee_path, method: :get, class: 'form-inline') do %>
          <div class="form-group">
            <%= select_tag :selfcheck, options_for_select([['ALL','ALL'], ['1回以上','First'], ['2回以上','Second'], ['3回以上','Third']]), :prompt => "セルフチェックで探す", class: 'form-control' %>   
          </div>  
          <%= button_tag( class: "btn btn-default") do %>
            <%= content_tag :span, "", class: "glyphicon glyphicon-search" %>
          <% end %>
        <% end %> </td>
          <td width="200"><%= form_tag(trainee_path, method: :get, class: 'form-inline') do %>
            <div class="form-group">
              <%= select_tag :master, options_for_select([['マスターしている','yes'],['マスターしてない','no'],['マスター待ち','wait']]), :prompt => "MASTERで探す", class: 'form-control' %>   
            </div>  
            <%= button_tag( class: "btn btn-default") do %>
              <%= content_tag :span, "", class: "glyphicon glyphicon-search" %>
            <% end %>
          <% end %> </td></tr>
        </table>
        
      </div>
    </div>
  </div>

<div class="trainee">
    <table class="table table-bordered">
      <tr>
        <th class="head" colspan="6">PG1/A : CHOPPER</th>
        <th class="re"><button class="btn btn-default" onclick="window.location.reload();"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button></th>
      </tr>
      <tr>
<!--        <th rowspan="2">ID</th> -->
        <th rowspan="2">チャプター</th>
        <th rowspan="2">セクション</th>
        <th rowspan="2">チェック項目</th>
        <th colspan="3" class="bottom">セルフチェック</th>
        <th class="tcheck bottom">トレーナーチェック</th>
      </tr>
      <tr>
        <th class="">1回目</th>
        <th class="">2回目</th>
        <th class="">3回目</th>
        <th class="">MASTER</th>
      </tr>
      <% @checklists.each do |checklist| %>
        <tr>
<!--          <td><%= checklist.id %></td> -->
          <td><%= checklist.chapter %></td>
          <td><%= checklist.section %></td>
          <td><%= checklist.content %></td>
          <td class="check"><%= render 'te_checks/first_button', checklist: checklist %></td>
          <td class="check"><%= render 'te_checks/second_button', checklist: checklist %></td>
          <td class="check"><%= render 'te_checks/third_button', checklist: checklist %></td>
          <td class="tcheck"><%= render 'tr_checks/master_button', checklist: checklist, trainee: trainee %></td>
        </tr>
      <% end %>
    </table>
    <%= paginate checklists %>
  </div>
<% end %>

