<% if trainers.any? %>

<% content_for :cover do %>

  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>トレーナー一覧</h1>
      </div>
    </div>
  </div>
<% end %>


<div class="user-profile">
  <div class="panel panel-default">
    <div class="panel-heading">検索</div>
      <div class="panel-body">
        <%= form_tag(trainers_path, method: :get, class: 'form-inline') do %>
          <div class="form-group">
            <%= select_tag :branchname, options_for_select(['全店','CR麻布十番店','CR恵比寿店','CR六本木ヒルズ店','CR代官山店','CR広尾店']), :prompt => "所属店舗で探す", class: 'form-control' %>   
          </div>  
          <%= button_tag( class: "btn btn-default") do %>
            <%= content_tag :span, "", class: "glyphicon glyphicon-search" %>
          <% end %>
        <% end %> 
      </div>
    </div>
  </div>
  

  <div class="trainee">
    <table class="table table-bordered">
      <tr>
        <th>ID</th>
        <th>所属店舗</th>
        <th>名前(ニックネーム)</th>
        <th>最終更新</th>
        <th width="100">専任数<br>(累積)<br></th>
        <th width="100">MASTER数<br>(累積)<br></th>
        <th>マイページ</th>
        <% if admin_logged_in? %><th>有効</th><% end %>
      </tr>
      <% trainers.each do |trainer| %>
      
        <tr>
          <td><%= trainer.id %></td>
          <td><%= trainer.branch %></td>
          <td><%= trainer.name %> ( <%= trainer.nickname %> )</td>
          <td class="check"><%= (Time.now - TrCheck.where(trainer_id: trainer.id).order(:updated_at).last.updated_at).round(0) / 3600 unless TrCheck.where(trainer_id: trainer.id).blank? %> 時間前</td>
          <td class="check"><%= Trainee.where(trainer_id: trainer.id).count %>人</td>
          <td class="check"><%= TrCheck.where(trainer_id: trainer.id).count %>個</td>
          <td class="check">
            <%= link_to trainer, class: 'btn btn-default' do %>
              <i class="glyphicon glyphicon-edit"></i>
            <% end %>
          </td>
          <% if admin_logged_in? %>
            <td class="check imp">
                <% if trainer.enable %>
                  Y
                <% end %>
            </td>
          <% end %>                
       </tr>
      <% end %>
    </table>
    </div>
    
  <%= paginate trainers %>
<% end %>