  <div class="user-profile">
  <div class="icon text-center">
    <img src="/images/tr_logo.png" width="120" height="120" alt="" class="img-circle">
  </div>
  
  <div class="name text-center">
    <h1><%= @trainer.name %></h1>
    <h5>[ <%= @trainer.branch %> : トレーナー]</h5>
  </div>
  <div class="status text-center">

    <ul>
      <li><div class="status-label"><%= @trainer.email %></div></li>

    </ul>
    <ul>
      <li>
        <div class="status-label"><%= link_to '編集', edit_trainer_path(@trainer) %></div>

      </li>
      <li>
        <div class="status-label"><%= link_to '削除', @trainer, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %></div>

      </li>
    </ul>
    
    
    <hr class="line" />

    <ul>
      <li><div class="status-label">ユーザの新規作成</div></li>

    </ul>
    
    <ul>
      <li><div class="status-label"><%= link_to 'トレーニー', new_trainee_path, class: 'btn btn-success' %></div></li>
    </ul>
    
    <hr class="line" />

    <ul>
      <li><div class="status-label">ユーザ一覧</div></li>
    </ul>
    
    <ul>
      <li><div class="status-label"><%= link_to 'トレーニー一覧', trainees_path %></div></li>
      <li><div class="status-label"><%= link_to 'トレーナー一覧', trainers_path %></div></li>
    </ul>


  </div>
</div>

